* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 65%; }

body {
  font-family: 'Roboto', sans-serif; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: 'Open Sans', serif; }
  body a {
    color: #1E3035;
    text-decoration: none; }

.header {
  background-color: #d8d7d6;
  border-bottom: solid 0.1px #646666;
  display: flex;
  padding: 0.9% 0.5%;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .header h1 {
    padding: 0 0.5%; }
  .header nav ul {
    list-style-type: none;
    font-size: 14px; }
    .header nav ul li {
      padding: 0px 10px;
      display: inline; }

.nombre {
  width: auto;
  height: 50%;
  text-align: center;
  padding: 5%;
  border-bottom: solid 1px #546063; }
  .nombre h2 {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    padding: 10px 0;
    margin: 0; }
  .nombre p {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 10px; }

.nombre {
  padding: 5%;
  justify-content: center;
  background: rgba(223, 222, 222, 0.308);
  position: relative;
  animation-name: nombre;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: backwards; }

@keyframes nombre {
  from {
    bottom: -50px;
    background-color: rgba(102, 102, 102, 0); }
  to {
    bottom: 3px; } }

.servicios {
  padding: 0.5% 0.5% 7% 0.5%; }
  .servicios .serviciosFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.itemServicios p {
  font-size: 1.5rem;
  padding: 2em 2em;
  display: flex;
  color: #505E62;
  justify-content: center;
  text-align: center; }

.itemServicios h6 {
  font-weight: 800;
  font-size: 2.2rem;
  color: #24a3a3;
  display: flex;
  padding: 5% 20%;
  width: auto;
  justify-content: center; }

.servicios h2, .dweb .cardweb h5 {
  display: flex;
  font-weight: 800;
  font-size: 2rem;
  justify-content: center;
  color: #24a3a3;
  padding: 5% 0px;
  width: auto; }

.itemServicios {
  font-size: 1rem;
  color: #131214;
  width: 30%;
  height: 300px;
  justify-content: center;
  padding: 20px 20px;
  display: flex;
  flex-direction: column; }

.gDigital {
  background-image: url(../img/bg1_Bio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px; }
  .gDigital p {
    background-color: #fdf9f9;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10% 10%;
    justify-content: center;
    display: flex; }
  .gDigital a {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #d76a68; }

.gDigitalDescripcion {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  padding: 50px 100px 50px 200px;
  display: grid;
  justify-content: space-evenly;
  width: 100%; }
  .gDigitalDescripcion h2 {
    font-weight: 800;
    font-size: 2rem;
    color: #d76a68;
    padding: 20px 0px; }

.lead {
  font-size: 1.4rem;
  font-weight: 300; }

.contenido {
  width: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.anidado {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  flex-direction: column;
  column-gap: 5px; }
  .anidado h1 {
    color: #d76a68;
    padding: 10%;
    height: auto;
    font-size: 3em;
    border-bottom: solid 1px #d76a68; }
  .anidado p {
    padding: 5%;
    font-size: 1.4rem; }

.imgCont {
  display: grid;
  padding: 10px;
  justify-content: center;
  width: auto; }

.img {
  display: grid;
  width: 100%;
  align-items: center;
  height: auto; }

.dweb {
  background-color: #e1e5e9;
  height: auto;
  justify-content: center;
  display: grid;
  padding-bottom: 10%; }
  .dweb h2 {
    display: flex;
    font-weight: 800;
    font-size: 2rem;
    justify-content: center;
    color: #3f72a1;
    padding: 5% 0px;
    width: auto; }
  .dweb .dwebFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto; }
  .dweb .dweb i {
    font-size: 100px;
    color: #3f72a1; }
  .dweb .cardweb {
    width: 30rem;
    height: 10%;
    text-align: center;
    justify-content: center; }
    .dweb .cardweb h5 {
      color: #3f72a1;
      font-size: 1.5rem;
      padding: 10% 0%; }
  .dweb .card-body {
    padding: 0px; }
  .dweb .leadDweb {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 10% 10%; }
  .dweb .card-img-top {
    width: 80%;
    padding: 5% 0px; }

.footer {
  background-color: #c7c7c3;
  padding: 10px 10px; }
  .footer h1 {
    font-weight: 400;
    font-size: 2rem;
    padding: 20px 0px;
    margin: 0; }
  .footer h3 {
    font-weight: 400;
    font-size: 2rem;
    padding: 20px 0px;
    margin: 0; }
  .footer i {
    color: #616363;
    font-size: 15px;
    width: 50px; }

.col-6 {
  padding: 0px 15%; }

@media screen and (max-width: 1261px) {
  .gDigital p {
    background-color: #f5f1f1;
    height: auto;
    margin: auto;
    padding: 10% 10%;
    justify-content: center;
    display: flex; }
  .gDigitalDescripcion {
    height: 850px; }
  .serviciosFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .itemServicios {
    font-size: 1rem;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column; }
    .itemServicios p {
      padding: 0;
      display: flex;
      justify-content: center; }
    .itemServicios h6 {
      display: flex;
      padding: 10% 20%;
      width: auto;
      justify-content: center; }
  .dweb {
    padding: 5% 10%;
    width: auto;
    height: auto; }
    .dweb p {
      width: auto;
      padding: 0%; }
  .dwebFlex {
    flex-direction: row;
    justify-content: center; } }

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    flex-flow: row wrap; }
  .header {
    flex-direction: column;
    height: auto;
    justify-content: space-around; }
    .header h1 {
      display: none; }
  .servicios {
    padding: 0.5% 0.5% 7% 0.5%; }
    .servicios .serviciosFlex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
  .serviciosFlex {
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    width: auto;
    padding: auto; }
    .serviciosFlex h2 {
      font-weight: 800;
      font-size: medium;
      color: #24a3a3;
      padding: 5% 10%;
      width: auto;
      display: flex;
      justify-content: center; }
  .gDigital p {
    width: auto;
    height: auto;
    margin: auto;
    justify-content: center;
    display: flex; }
  .gDigital a {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #d76a68; }
  .gDigitalDescripcion {
    padding: 10% 20%;
    width: auto;
    height: 950px; }
  .contenido {
    width: 100%;
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr; }
  .imgCont {
    display: grid;
    padding: 10px;
    justify-content: center;
    width: 100%; }
  .anidado {
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    flex-direction: column;
    column-gap: 5px; }
    .anidado h1 {
      color: #d76a68;
      padding: 10%;
      height: auto;
      font-size: 2em;
      border-bottom: solid 1px #d76a68; }
    .anidado p {
      padding: auto;
      font-size: 1.4rem; }
  .dweb {
    width: auto;
    height: auto; }
    .dweb h2 {
      width: auto;
      display: flex;
      justify-content: center; }
  .dweb .card-img-top {
    width: 50%;
    padding: 5% 0px; }
  .footer h1 h3 {
    font-size: 10px; }
  .col-6 {
    flex: 0 0 auto;
    width: auto;
    padding: 0px 10%; } }

@media screen and (max-width: 500px) {
  .nombre h2 {
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0; }
  .nombre p {
    font-weight: 200;
    font-size: 1.3rem;
    padding: 0 10px; }
  .gDigitalDescripcion {
    padding: 10% 10%;
    width: auto;
    height: 950px; }
  .gDigital {
    background-image: url(../img/bg1_Bio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px; }
  .gDigital p {
    justify-content: center;
    display: flex; }
    .gDigital p a {
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      color: #d76a68;
      display: flex;
      justify-content: center; }
  .itemServicios {
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column; }
  .dweb {
    justify-content: center;
    display: grid;
    height: auto; }
    .dweb .dwebFlex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: auto; }
  .col {
    height: 50px; }
  .col-6 {
    width: auto; }
  .dweb .card-img-top {
    width: 30%;
    padding: 5% 0px; } }
