.nombre {
    padding: 5%;
    justify-content: center;
    background: rgba(223, 222, 222, 0.308);
    position: relative;
    animation-name: nombre;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes nombre {
    from {
        bottom: -300px;
        background-color: rgba(102, 102, 102, 0);
    }

    to {
        bottom: 3px;
    }
}