%titulos {
    display: flex;
    font-weight: 800;
    font-size: 2rem;
    justify-content: center;
    color: #24a3a3;
    padding: 5% 0px;
    width: auto;  
}
%item{
    font-size: 1rem;
    color: #131214;
    width: 30%;
    height: 300px;
    justify-content: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}