.gDigital {
    background-image: url(../img/bg1_Bio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    p {
        background-color: #fdf9f9;
        width: 50%;
        height: auto;
        margin: auto;
        padding: 10% 10%;
        justify-content: center;
        display: flex;
            }
    a {
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        color: #d76a68;
    } 
}
    .gDigitalDescripcion{
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        line-height: 1.5;
        padding: 50px 100px 50px 200px;
        display: grid;
        justify-content: space-evenly;
        width: 100%;  
        h2{
            font-weight: 800;
            font-size: 2rem;
            color: #d76a68;;
            padding: 20px 0px;
        }   
    }
    .lead{
        font-size: 1.4rem;
        font-weight: 300;
    }
    .contenido{
        width: 100%;
        padding: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
    .anidado{
        display: grid;
        width:100%;
        grid-auto-rows: auto;
        flex-direction:column;
        column-gap:5px;
        h1{
            color: #d76a68;
            padding: 10%;
            height: auto;
            font-size: 3em;
            border-bottom: solid 1px #d76a68 ;
        }
        p{
            padding: 5%;
            font-size: 1.4rem;
        }
    }
        .imgCont{
            display: grid;
            padding: 10px;
            justify-content: center;
            width: auto;
        }
        .img{
            display: grid;
            width: 100%;
            align-items: center;
            height: auto;
        } 
 
    
    
    
    
