@media screen and (max-width:1261px) {
    .gDigital p {
        background-color: #cfcfcfc7;
        height: auto;
        margin: auto;
        padding: 10% 10%;
        justify-content: center;
        display: flex;
    }
    .gDigitalDescripcion{
        height: 850px;
    }
    .serviciosFlex {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .itemServicios {
        font-size: 1rem;
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p {
            padding: 0;
            display: flex;
            justify-content: center;
        }
        h6 {
            display: flex;
            padding: 10% 20%;
            width: auto;
            justify-content: center;
        }
    }
    .dweb {
        padding: 5% 10%;
        width: auto;
        p {
            width: auto;
            padding: 0%;
        }
    }
    .dwebFlex {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width:800px) {
    .container {
        flex-direction: column;
        flex-flow: row wrap;
    }
    .header {
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        h1{
            display: none;
        }
    }
    .servicios {
        padding: 0.5% 0.5% 7% 0.5%;
        .serviciosFlex {
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .serviciosFlex {
        flex-direction: row;
        justify-content: center;
        flex-flow: row wrap;
        width: auto;
        padding: auto;        
        h2 {
        font-weight: 800;
        font-size: medium;
        color: #24a3a3;
        padding: 5% 10%;
        width: auto;
        display: flex;
        justify-content: center;
        }
    }    
    .gDigital{       
        p {
        width: auto;
        height: auto;
        margin: auto;
        justify-content: center;
        display: flex;
        }
        a {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(65, 145, 96);
        }
    } 
    .gDigitalDescripcion{
        padding: 10% 20%;
        width: auto;
        height: 950px;
        }   
    .dweb {
        width: auto;
        height: auto;
        h2 {
            width: auto;
            display: flex;
            justify-content: center;
        }
    }    
    .footer h1 h3 {
        font-size: 10px;
    }
}
@media screen and (max-width:400px) {
    .nombre h2 {
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
        padding: 10px 0;
    }
    .nombre p {
        font-weight: 200;
        font-size: 1.3rem;
        padding: 0 10px;
    }
    .gDigitalDescripcion {
        padding: 10% 10%;
        width: auto;
        height: 950px;
    }
    .gDigital {
        background-image: url(../img/bg1_Bio.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 50px;
    }
    .gDigital p {
        justify-content: center;
        display: flex;
        a {
        display: flex;
        justify-content: center;
        }
    }
    .itemServicios {
        width: auto;
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .dweb {
        justify-content: center;
        display: grid;
        height: auto;
    .dwebFlex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        }
    }
    .col{
        height: 50px;
    }
    .row-cols-auto {
        width: 0px;
    } 
}