@media screen and (max-width:1261px) {
    .gDigitalDescripcion{
        padding: auto;
    }
    .itemServicios {
        font-size: 1rem;
        color: #131214;
        width: 25%;
        height: 200px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p {
            padding: 0;
            display: flex;
            justify-content: center;
        }
        h6 {
            font-size: small;
            display: flex;
            padding: 10% 20%;
            width: auto;
            justify-content: center;
        }
    }
    .servicios h2 {
        font-weight: 800;
        font-size: 1.5rem;
        color: #24a3a3;
        padding: 5% 20%;
        width: auto;
        display: flex;
        justify-content: center;
    }
    .dweb {
        background-color: beige;
        padding: 5% 10%;
        width: auto;
        h2 {
            font-size: 1.5rem;
            padding: 0px;
            width: auto;
            display: flex;
            justify-content: center;
        }
        p {
            width: auto;
            padding: 0%;
        }
    }

    .dwebFlex {
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (max-width:800px) {
    .container {
        flex-direction: column;
        flex-flow: row wrap;
    }
    .header {
        flex-direction: column;
        height: auto;
        justify-content: space-around;
    }
    .servicios{
        serviciosFlex {
        flex-direction: row;
        justify-content: center;
        flex-direction: column;
        flex-flow: row wrap;
        background-color: antiquewhite;
        width: auto;
        padding: auto;
        }
        h2 {
        font-weight: 800;
        font-size: 1.5rem;
        color: #24a3a3;
        padding: 5% 10%;
        width: auto;
        display: flex;
        justify-content: center;
        }
        itemServicios {
            font-size: 1rem;
            width: auto;
            height: auto;
            justify-content: center;
            border: solid 1px black;
            display: flex;
            flex-direction: column;
        }
    }
    .gDigital{
        gDigitalDescripcion{
        padding: 20%;
        width: auto;
    }
        p {
        width: auto;
        height: auto;
        background-color: rgba(245, 245, 220, 0.932);
        margin: auto;
        justify-content: center;
        display: flex;
        }
        a {
        font-weight: 400;
        font-size: 1.5rem;
        /* = 20px */
        text-align: center;
        color: rgb(65, 145, 96);
    }
}    
    .dweb {
        background-color: beige;
        width: auto;
        height: 500px;
        h2 {
            font-size: 1.5rem;
            width: auto;
            display: flex;
            justify-content: center;
        }
    }    
    .footer h1 h3 {
        font-size: 10px;
    }
}
@media screen and (max-width:285px) {
    .nombre h2 {
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
        padding: 10px 0;
    }

    .nombre p {
        font-weight: 200;
        font-size: 1.3rem;
        /* = 20px */
        padding: 0 10px;
    }
    .gDigitalDescripcion {
        padding: 10% 10%;
        width: auto;
    }
    .gDigital {
        background-image: url(../img/bg1_Bio.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 50px;
    }

    .gDigital p {
        justify-content: center;
        display: flex;
    }

    .gDigital a {
        display: flex;
        justify-content: center;
    }

    .servicios h2 {
        font-weight: 600;
        font-size: 1.3rem;
        color: #24a3a3;
        padding: 5% 10%;
        width: auto;
        display: flex;
        justify-content: center;
    }
    .dwebFlex {
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;
        width: auto;
    }
}