* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
}

body {
    font-family: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', serif;
}

a {
    color: #1E3035;
    text-decoration: none;
}
}